// vim: set ts=8 sts=2 et sw=2 tw=99:
// Style definitions for the SlickGrid and SlickGrid-lookalike tables.

#theGrid {
  flex: 1;
}

.slick-cell {
  display: inline-block;
  color: $default-color;
  font-size: 9pt;
  border: 1px;
  line-height: $table-row-height;
  padding-top: 3px; // Hacky.
}

.searchflashing {
  background-color: $row-hover-background-color;
}

// Using .slick-header-columns instead of .slick-header-column
// also affects the area directly above the scrollbar.
.slick-header-columns {
  font-size: 8pt;
  font-weight: bold;
  color: $default-color;
  background-color: $table-header-background-color;
}

// Override SlickGrid default CSS.
.slick-header-column.ui-state-default {
  border-color: $table-header-background-color;

  // SlickGrid forces a 1px silver border on the right.
  border-right: 0px;

  // SlickGrid draws text disconnected from the background row graphics,
  // so they can get out of sync if not carefully coordinated.
  height: $table-row-height;
  line-height: $table-row-height;

  // By default, SlickGrid indents the column headers a bit. This undoes that.
  // The padding has to add up to +8 left-right, otherwise the header row
  // will not extend to the full width of the grid.
  // The vertical padding seems to be necessary no matter what height
  // and line-height are set to.
  padding: 4px 8px 2px 0px;
}

.slick-header-column-sorted {
  text-decoration: underline;
  font-style: normal;
}

.slick-row.even {
  background-color: $row-alt-background-color;
}

.slick-row:hover {
  background-color: $row-hover-background-color;
}

table {
  font-size: 9pt;
  color: $default-color;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 12px;
  border-spacing: 0px;
  border: none;
}

thead {
  color: $primary-color;
}

thead td {
  min-width: 80px;
}

tr:nth-child(even) {
  background-color: $row-alt-background-color;
}

tbody tr:hover {
  background-color: $row-hover-background-color;
}

td {
  border: 0px;
  padding-right: 0px;
  padding-left: 5px;
  height: 21px;
}

th {
  text-align: left;
}

// Used by meet.html.
td.meetdivisiontext {
  color: $primary-color;
}

td a {
  color: $default-color;
}

.table-divider {
  color: $primary-color;
}

// Loading indicator for waiting on an AJAX load.
.loading-indicator {
  display: inline-block;
  padding: 12px;
  background: white;
  -opacity: 0.5;
  color: black;
  font-weight: bold;
  z-index: 9999;
  border: 1px solid red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  -text-shadow: 1px 1px 1px white;
}

.loading-indicator label {
  padding-left: 20px;
  // background: url('../images/ajax-loader-small.gif') no-repeat center left;
}
